.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  height: 100vh;
}

.main__header,
.main__copy {
  margin-bottom: 20px;

  text-align: center;
}

.main__link {
  padding: 10px;

  border: 1px solid #000;
  cursor: pointer;
}
